rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /archives/{allPaths=**} {
      allow read, write: if signedIn();
    }

    match /dossiers/{dossierId}/{allPaths=**} {
      allow read, write: if signedIn();
    }

    match /vehicleFolders/{vehicleId}/{allPaths=**} {
      allow read, write: if signedIn();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
